/* fonts */
@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:ital,wght@0,100..800;1,100..800&display=swap');

*,
::after,
::before {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}


html {
    font-size: 100%;
    font-family: "JetBrains Mono", monospace;

}

/*16px*/

:root {
    /* fonts  */
    --headingFont: 'JetBrains Mono', monospace;
    --bodyFont: 'JetBrains Mono', monospace;
    --small-text: 0.875rem;
    --extra-small-text: 0.7em;
    /* rest of the vars */
    --borderRadius: 0.25rem;
    --letterSpacing: 1px;
    --transition: 0.3s ease-in-out all;
    --max-width: 1120px;
    --fixed-width: 500px;
    --fluid-width: 90vw;
    --breakpoint-lg: 992px;
    --nav-height: 6rem;
    /* box shadow*/
    --shadow-1: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px 0 rgba(0, 0, 0, 0.06);
    --shadow-2: 0 4px 6px -1px rgba(0, 0, 0, 0.1),
    0 2px 4px -1px rgba(0, 0, 0, 0.06);
    --shadow-3: 0 10px 15px -3px rgba(0, 0, 0, 0.1),
    0 4px 6px -2px rgba(0, 0, 0, 0.05);
    --shadow-4: 0 20px 25px -5px rgba(0, 0, 0, 0.1),
    0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

body {
    font-family: var(--bodyFont);
    font-weight: 400;
    line-height: 1.75;
}

p {
    margin-bottom: 1.5rem;
    max-width: 40em;
}

h1,
h2,
h3,
h4,
h5, p {
    margin: 0 0 1.38rem;
    font-family: var(--headingFont);
    font-weight: 800;
    line-height: 1.3;
    text-transform: capitalize;
    letter-spacing: var(--letterSpacing);
}

h1 {
    margin-top: 0;
    font-size: 3.052rem;
}

h2 {
    font-size: 2.441rem;
}

h3 {
    font-size: 1.953rem;
}

h4 {
    font-size: 1.563rem;
}

h5 {
    font-size: 1.25rem;
}

small,
.text-small {
    font-size: var(--small-text);
}

a {
    text-decoration: none;
    letter-spacing: var(--letterSpacing);
}

a,
button {
    line-height: 1.15;
}

button:disabled {
    cursor: not-allowed;
}

ul {
    list-style-type: none;
    padding: 0;
}

.img {
    width: 100%;
    display: block;
    object-fit: cover;
}


@media screen and (min-width: 992px) {
    .loading-text {
        display: block;
        margin-left: 1rem;
        margin-top: 1.2rem;
    }

}

